body{
    background-color:deepskyblue;
}
footer{
   
    text-align: center;
    align-items: center;
    height: 45px;
    font-size: medium;
    color: #000;
    background-color:red  
}

footer p {
    margin-top: 20px;
}